<html>
    <head>
      <title>Test Histroy</title>
      <link rel="stylesheet" href="../static/css/history.css">
    </head>
<body> 
<div class="wrapper">
  <h1>Test History</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(../static/images/scott-graham-5fNmWej4tAA-unsplash.jpg)">
						<div class="inner">
							<p>Tests Created</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<table>
								<tr>
									<th>Serial No.:</th>
									<th>Test Name</th>
									<th>Date</th>
									<th>Author</th>
								</tr>
								{% for test in createdtests %}
								<tr class="row" onclick="loadSummary({{test.code.code}})">
									<td>{{forloop.counter}}</td>
									<td>{{test.code.testName}}</td>
									<td>{{test.code.date}}</td>
									<td>{{test.code.author}}</td>
								</tr>
								{% endfor %}
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(../static/images/seth-schwiet-WB3ujiKLJwQ-unsplash.jpg)">
						<div class="inner">
							<p>Tests Appeared</p>
              
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<table style="width:80%;margin-left:-15px;max-height:200px;overflow:auto">
								<tr>
									<th>Serial No.</th>
									<th>Date</th>
									<th>Author</th>
									<th>Test Name</th>
									<th>Score</th>
									<th>Total Score</th>
								</tr>
								{% for test in completedtests %}
								<tr class="row" onclick="loadResult({{test.code.code}})">
									<td>{{forloop.counter}}</td>
									<td>{{test.code.date}}</td>
									<td>{{test.code.author}}</td>
									<td>{{test.code.testName}}</td>
									<td>{{test.marksObtained}}</td>
									<td>{{test.code.totalMarks}}</td>
								</tr>
								{% endfor %}

							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>

<script>
	function loadResult(code){
			console.log("here ");
			var f1 = parent.document.getElementById("frame1");
			parent.document.getElementById("content").style.display="none";
            f1.style.display="block";
            f1.data = "result/" + code.toString();
	}

	function loadSummary(code){
			console.log("here 2 ");
			var f1 = parent.document.getElementById("frame1");
			parent.document.getElementById("content").style.display="none";
            f1.style.display="block";
            f1.data = "summary/" + code.toString();
	}
</script>
 </body>
 </html>