<html>
    <head>
      <title>Test Histroy</title>
      <link rel="stylesheet" href="history.css">
    </head>
<body> 
<div class="wrapper">
  <h1>Test History</h1>
  <div class="cols">
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(images/scott-graham-5fNmWej4tAA-unsplash.jpg)">
						<div class="inner">
							<p>Tests Created</p>
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<table>
								<tr>
									<th>Serial No.:</th>
									<th>Test Name</th>
									<th>Total Score</th>
								</tr>
								<tr>
									<td>1</td>
									<td>English</td>
									<td>50</td>
								</tr>
								<tr>
									<td>2</td>
									<td>History</td>
									<td>50</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col" ontouchstart="this.classList.toggle('hover');">
				<div class="container">
					<div class="front" style="background-image: url(images/seth-schwiet-WB3ujiKLJwQ-unsplash.jpg)">
						<div class="inner">
							<p>Tests Appeared</p>
              
						</div>
					</div>
					<div class="back">
						<div class="inner">
							<table>
								<tr>
									<th>Serial No.:</th>
									<th>Test Name</th>
									<th>Total Score</th>
								</tr>
								<tr>
									<td>1</td>
									<td>English</td>
									<td>50</td>
								</tr>
								<tr>
									<td>2</td>
									<td>History</td>
									<td>50</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
 </div>
 </body>
 </html>