<html>
    <head>
        <title>Test</title>
        <link rel="stylesheet" href="form.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
<body> 
    <div class="container">  
        <form id="test" action="" method="post">
          <h3>Test Name</h3>
          <h4>All the best !</h4>

          <fieldset>
            <input placeholder="Student Name" type="text" tabindex="1" required autofocus>
          </fieldset>

          <fieldset>
            <input placeholder="Student Email" type="email" tabindex="2" required>
          </fieldset>
          
          <fieldset>
            <input placeholder="Contact" type="tel" tabindex="3" required>
          </fieldset>

          <fieldset>
            <h4>How does a rocket engine work ? </h4>
            <textarea placeholder="Enter your answer here: " tabindex="4" required></textarea>
          </fieldset>
       
          <fieldset>
            <button name="submit" type="submit" id="test-submit" data-submit="...Sending">Submit</button>
          </fieldset>
          <p class="copyright">Designed by <a href="..\login.html" target="_blank" title="Quest on Marks">Quest on Marks</a></p>
        </form>
      </div>
</body>
</html>